@media screen and (orientation: landscape) {
    #image {
        bottom: clamp(0px, 100vmax - 150vmin, 5vmin);
        right: min(50vmax, 100vmax - 90vmin);
    }
    
    #info {
        aspect-ratio: 1 / 1;
        width: 100vmin;
        left: min(50vmax, 100vmax - 100vmin);
    }
    
    .section {
        padding: 7.5vmin 2.5vmin clamp(15vmin, 100vmin - 70vmax, 30vmin) clamp(0px, 100vmin - 70vmax, 30vmin);
    }
}

@media screen and (orientation: portrait) {
    #image {
        left: 0;
        bottom: 0;
    }
    
    #info {
        inset: 0;
    }

    .section {
        padding: 7.5vmin 2.5vmin 30vmin 30vmin;
    }
}