@media screen and (orientation: landscape) {
    :root {
        --for-sections: to bottom, transparent 0%, black 10svh, black calc(100% - 10svh), transparent 100%;
        --button-border: 2.75svh;

        --for-content: to bottom, transparent 0%, transparent 7.5svh, black 12.5svh, black calc(100% - 15svh), transparent 100%;
        --indent: 10svh;
    }

    body {
        font-size: min(1.5em, 2.5svh + 0.25em);
    }
    
    #image {
        position: fixed;
        bottom: clamp(0px, 100svw - 150svh, 5svh);
        right: min(50svw, 100svw - 90svh);
        aspect-ratio: 1 / 1;
        width: 90svh;
    }
    
    #info {
        aspect-ratio: 1 / 1;
        width: 100svh;
        left: min(50svw, 100svw - 100svh);
    }
    
    .section {
        width: 100svh;
        padding: 7.5svh 2.5svh clamp(15svh, 100svh - 70svw, 30svh) clamp(0px, 100svh - 70svw, 30svh);
    }

    .section .header {
        inset: 10svh 2.5svh auto clamp(0px, 100svh - 70svw, 30svh);
    }
    
    .section .content {
        padding: var(--indent) 2.5svh;
    }

    .section .footer {
        min-height: 10svh;
    }
}

@media screen and (orientation: portrait) {
    :root {
        --for-sections: to bottom, transparent 0%, black 10svw, black calc(100% - 10svw), transparent 100%;
        --button-border: 2.75svw;

        --for-content: to bottom, transparent 0%, transparent 7.5svw, black 12.5svw, black calc(100% - 15svw), transparent 100%;
        --indent: 10svw;
    }

    body {
        font-size: min(1em, 3svw + 0.25em);
    }
    
    #image {
        left: 0;
        bottom: 0;
        aspect-ratio: 1 / 1;
        width: 90svw;
    }
    
    #info {
        inset: 0;
    }


    .section {
        width: 100svw;
        padding: 7.5svw 2.5svw 30svw 30svw;
    }

    .header {
        inset: 10svw 2.5svw auto 30svw;
    }
    
    .content {
        padding: var(--indent) 2.5svw;
    }

    .footer {
        min-height: 10svw;
    }
}